# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# Environment variables
.env

!models/
!models/best_model.pth

# Dataset
data/raw/
*.pyb

# Generated outputs
outputs/
logs/

# OS
.DS_Store
Thumbs.db
!models/best_model.pth
