# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# Environment
.env

# Model files
*.pth
*.pt
*.onnx

# Deployment model
!models/
!models/best_model.pth

# Dataset
data/raw/
*.pyb

# Generated outputs
outputs/
logs/

# OS
.DS_Store
Thumbs.db